<%= simple_form_for(@new_day) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :comment %>
    <%= f.input :date %>
	<%= f.simple_fields_for :breakfast do |bf| %>
		<%= bf.input :explanation %>
		<%= bf.input :time, as: :time %>
	<% end %>
	<%= f.simple_fields_for :lunch do |lf| %>
		<%= lf.input :explanation %>
		<%= lf.input :time, as: :time %>
	<% end %>
	<%= f.simple_fields_for :dinner do |df| %>
		<%= df.input :explanation %>
		<%= df.input :time, as: :time %>
	<% end %>
	<%= f.simple_fields_for :exercise do |ef| %>
		<%= ef.input :explanation %>
		<%= ef.input :time, as: :time %>
	<% end %>
	<%= f.simple_fields_for :snacks do |sf| %>
		<%= sf.input :explanation %>
		<%= sf.input :time, as: :time %>
	<% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
