    <div class="container marketing"> 
<hr class="featurette-divider">
<p id="notice"><%= notice %></p>


      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><%= @new_day.date %> </h2>
		<h4><span class="text-muted"> <%= @new_day.breakfast.explanation.present? ? "早餐：#{@new_day.breakfast.explanation}。" : '' %></span></h4>
		<h4><span class="text-muted"><%= @new_day.lunch.explanation.present? ? "午餐：#{@new_day.lunch.explanation}。" : '' %></span></h4>
		<h4><span class="text-muted"><%= @new_day.dinner.explanation.present? ? "晚餐：#{@new_day.dinner.explanation}。" : '' %></span></h4>
		<h4><span class="text-muted"><%= @new_day.exercise.explanation.present? ? "运动情况：#{@new_day.exercise.explanation}。" : '' %></span></h4>
		<h4><span class="text-muted"><%= @new_day.snacks.first.explanation.present? ? "加餐：#{@new_day.snacks.first.explanation}。" : '' %></span></h4>
		  <h2 class="featurette-heading">营养师反馈 </h2>
          <h3 class="lead"><%= @new_day.comment %></h3>
        </div>
        <div class="col-md-2">
		  <% @new_day.breakfast.images.each do |image| %>
			<%= image_tag(image.url, class: 'featurette-image img-responsive center-block') %>
		  <% end %>
		  <% @new_day.lunch.images.each do |image| %>
			<%= image_tag(image.url, class: 'featurette-image img-responsive center-block') %>
		  <% end %>
		  <% @new_day.dinner.images.each do |image| %>
			<%= image_tag(image.url, class: 'featurette-image img-responsive center-block') %>
		  <% end %>
		  <% @new_day.snacks.first.images.each do |image| %>
			<%= image_tag(image.url, class: 'featurette-image img-responsive center-block') %>
		  <% end %>
		</div>
		<div class="col-md-3">
		  <% @new_day.exercise.images.each do |image| %>
			<%= image_tag(image.url, class: 'featurette-image img-responsive center-block') %>
		  <% end %>
        </div>
      </div>

      </div>

<%= link_to 'Edit', edit_new_day_path(@new_day) %> |
<%= link_to 'Back', new_days_path %>
